/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

[data-theme='light'] {
  --primary-color: rgb(255, 92, 92);
  --primary-variant: #ff2d2d;
  --secondary-color: #1b9999;
  --on-primary: rgb(250, 250, 250);
  --on-background: rgb(66, 66, 66);
  --on-background-alt: rgba(66, 66, 66, 0.7);
  --background: rgb(255, 255, 255);
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
  --nav-background:transparent;
  --body-background:transparent;
}

[data-theme='dark'] {
  --primary-color: rgb(150, 65, 255);
  --primary-variant: #6c63ff;
  --secondary-color: #03dac5;
  --on-primary: #000;
  --on-background: rgba(255, 255, 255, 0.9);
  --on-background-alt: rgba(255, 255, 255, 0.7);
  --background: #121212;
  --nav-background:rgba(0,0,0,0.5);
  --body-background:rgb(22, 22, 22);
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: var(--body-background);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' viewBox='0 0 192 192'%3E%3Cpath fill='%238a4eea' fill-opacity='0.4' d='M192 15v2a11 11 0 0 0-11 11c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H145v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11 13 13 0 1 1 .02 26 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43a6.1 6.1 0 0 0-3.03 4.87V143h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 181 164a11 11 0 0 0 11 11v2a13 13 0 0 1-13-13 12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84a6.1 6.1 0 0 0-4.87-3.03H145v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 124 181a11 11 0 0 0-11 11h-2a13 13 0 0 1 13-13c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43a6.1 6.1 0 0 0 3.03-4.87V145h-35.02a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 107 124a11 11 0 0 0-22 0c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H49v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11A13 13 0 0 1 81 192h-2a11 11 0 0 0-11-11c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V145H11.98a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 0 1 0 177v-2a11 11 0 0 0 11-11c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H47v-35.02a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 28 109a13 13 0 1 1 0-26c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43A6.1 6.1 0 0 0 47 84.02V49H11.98a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 11 28 11 11 0 0 0 0 17v-2a13 13 0 0 1 13 13c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84A6.1 6.1 0 0 0 11.98 47H47V11.98a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 68 11 11 11 0 0 0 79 0h2a13 13 0 0 1-13 13 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43A6.1 6.1 0 0 0 49 11.98V47h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 85 68a11 11 0 0 0 22 0c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H143V11.98a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 124 13a13 13 0 0 1-13-13h2a11 11 0 0 0 11 11c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V47h35.02a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 179 28a13 13 0 0 1 13-13zM84.02 143a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 83 124a13 13 0 1 1 26 0c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84a6.1 6.1 0 0 0 4.87 3.03H143v-35.02a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 164 107a11 11 0 0 0 0-22c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V49h-35.02a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 1 1 83 68a12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84A6.1 6.1 0 0 0 84.02 49H49v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 28 85a11 11 0 0 0 0 22c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V143h35.02z'%3E%3C/path%3E%3C/svg%3E");
}








h1 {
  font-family: 'Caveat', cursive;
  font-size: 6rem;
  letter-spacing: 0.5rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  color:var(--on-background-alt);
}

h2 {
  font-size: 2.5rem;
  color:var(--on-background-alt);
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Sections */

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  scroll-behavior: smooth;
}

/* Header-Navigation */

.nav {
  width: 100vw;
  height: 11vh;
  position: fixed;
  top: 0;
  background-color: var(--nav-background);
}

.nav-span {
  width: 50%;
  background: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  top: 8%;
  left: 10%;
  cursor: pointer;
  transition: all 0.5s ease;
}

.nav-input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  transition: all 0.5s ease;
}

.nav-input:checked + .nav-span {
  transform: translateX(28px);
}

.nav-toggle {
  width: 4.3rem;
  height: 2.2rem;
  background: #b1b0b0;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}

.nav-list--link {
  color: var(--primary-color);
  text-decoration: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 1900px;
  align-items: center;
  padding: 1.5rem;
  height: 100%;
}

.nav-list {
  display: flex;
  flex: 1.5;
}

.nav-list--item {
  margin-left: 2rem;
  font-size: 1.5rem;
}

.nav-mode {
  flex: 0.5;
  display: flex;
}



/* Icons */

.fa-moon {
  color: var(--on-background);
  margin-left: 1rem;
}

.fa-sun {
  margin-left: 1rem;
}

.mode-name {
  color: var(--on-background);
}



/* Project Section-Images */

.img-container {
  display: flex;
  width: 1600px;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 4rem auto;
}

.img-card {
  width: 20rem;
  border: 2px solid var(--secondary-color);
  margin-left: 2rem;
  background: var(--background);
  height: 25rem;
  box-shadow:var(--box-shadow);
  border-radius: 10px;
  padding: 2rem;
  color:var(--on-background);
}


.img-card--title {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.img-responsive {
  width: 100%;
}





/* Buttons */

.btn-primary {
  background: var(--primary-color);
  border:none;
  color:var(--on-background)
  
}

.btn-secondary {
  background: var(--secondary-color);
  border:none;
  color:var(--on-background)
}

.btn-disabled{
  background: var(--primary-color);
  opacity: 0.8;
  border:none;
  color:var(--on-background)


}

.btn-primary-outline{
  background: var(--on-primary);
  border:3px solid var(--primary-variant);
  color:var(--on-background);

  
}
.btn-secondary-outline{
  border:3px solid var(--secondary-color);
  background: var(--on-primary);
  color:var(--on-background);


}
.btn-disabled-outline{
  border:3px solid var(--primary-color);
  background: var(--on-primary);
  color:var(--on-background);

 
}



.btn{
  font-size: 1.8rem;
  padding: 0.7rem 1.5rem;

  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.about-info{
  width: 40%;
  margin-top: 2rem;
  padding: 2rem;
  background:var(--on-background-alt);
  color:var(--on-primary);
  font-family: 'Caveat', cursive; 
  font-size: 1.7rem;
  border-radius: 10px;

}

/* Social - Contact */ 

.contact-social{
  display: flex;
  justify-content: space-around;
}

.fa-facebook-square,
.fa-instagram-square, 
.fa-github-square, 
.fa-twitter-square,
.fa-twitch 
{
  display: block !important;
  margin-right: 5rem !important;
  color:var(--primary-color);

}

.fa-youtube-square{

  color:var(--primary-color);

}